
.modal {
  align-items: center;
  background-color: fade-out(#282c34, 0.5);
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
}

.inner {
  background-color: var(--bg-color);
  border-radius: var(--radius-md);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  height: calc(100vh - var(--spacing-md)*2);
  margin: var(--spacing-md);
  overflow: hidden;
  position: relative;
  width: 680px;
}

.close {
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 50%;
    display: flex;
    height: var(--spacing-lg);
    justify-content: center;
    position: absolute;
    right: var(--spacing-md);
    top: var(--spacing-md);
    width: var(--spacing-lg);
}